@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
  --color-fd-primary: hsl(217, 91%, 55%);
}

.dark {
  --color-fd-primary: hsl(217, 80%, 65%);
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
